@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  position: relative;
  background-color: rgb(27, 42, 63);
  display: flex;
  align-items: center;
  height: 80px;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  box-shadow: 0px 5px 10px rgba(20, 20, 20, 0.3);
  /*border-bottom: 2px solid rgba(5, 77, 135, 0.7);*/
  border-bottom: 2px solid rgba(240, 240, 240, 0.3);
}

.gradient {
  opacity: 0.125;
  z-index: 1;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: radial-gradient(circle, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0) 80%);
  height: 200%;
  width: 100%;
  background-blend-mode: multiply;
}

.navbar-content {
  width: 100%;
  position: relative;
}

.navbar-content img {
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 40px;
  transform: translate(-50%, -50%);
  width: 115px;
  border-radius: 50%;
  box-shadow: 0px 10px 10px rgba(20, 20, 20, 0.3);
}

.nav-menu {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-menu {
  display: flex;
  align-items: center;
}

.right-menu {
  font-size: 1.2em;
  display: flex;
  align-items: center;
}

.menu-item {
  color: white;
  text-decoration: none;
  padding: 0 20px;
}

.banner {
  display: flex;
  align-items: center;
  height: calc(100vh - 80px);
  width: 100vw;
  background-image: url('./images/banner.jpg');
  background-size: cover;
  background-position: right;
}

.banner-content {
  padding-right: 70%;
}

.title {
  color: white;
  font-size: 4em;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1rem;
}

.subtitle {
  color: white;
  font-size: 1.2em;
  font-weight: 300;
}

.break {
  color: white;
  border: 1px solid white;
}

.btn-main {
  color: white;
  padding: 15px 50px;
  border: 1px solid white;
  border-radius: 25px;
  transition: all 0.3s ease-out;
}

.btn-main:hover {
  color: black;
  background-color: white;
  text-decoration: none;
}
